@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body{
    scroll-behavior: smooth;
    background: rgb(255,255,255);
background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%);
}

.kiit__logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.text__heading{
    padding-top: 15px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}
.form-control{
    outline: none !important;
  box-shadow: none !important;
  

}

.form-select{
    outline: none !important;
  box-shadow: none !important;
  

}

form{
    padding-top: 1rem;
}


hr{
  border: 0;
  height: 0;
  border-top: 1px solid #000000;
  width: 200px;
}

.details{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    
}
#file-ip-1-preview{
  height: 150px;
  width: 130px;
}

.profile__photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.icard{
  margin-top: 16px;
}

.btn{
  outline: none !important;
  box-shadow: none !important;
}

.kiit__header__logo{
  height: 90px;
  margin-top: 10px;
}

.kalinga__ins{
  font-weight: 600;
  color: green;
  margin: 0%;
  font-size: 16px;
}

.deemed{
  margin: 0%;
  font-size: 14px;
  font-weight: 500;
}

.ugc__act{
  margin: 0%;
  font-size: 11px;
}

.rulebar{
  border: 0;
  height: 0;
  border-top: 1px solid green;
  width:100%;
  margin: auto;
}

.border__dp{
  border: 1px solid green;
  width: fit-content;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

.icard__border{
  border: 1px solid rgb(0, 0, 0);
  background-color:rgb(255, 248, 248);
  border-radius: 1%;
}
